body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
}

.results-card {
	padding: 0 !important;
	padding-top: 1.5rem !important;
	margin: 5px 15px;
	transition: all 100ms;
}

.results-card:hover {
	transform: scale(1.015);
	cursor: pointer;
}

.results-card > span {
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

.progress {
	height: 1.5rem;
}

.progress-bar {
	font-size: 0.8rem;
	font-weight: 500;
}
